* {
  margin:0; padding:0;
}

a {	
  text-decoration: none;
  color: white;
}

body{
  text-align: center;
  width: 80%;
}

nav {
  margin: 0 0 0 auto;
}

/* header */
header {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: flex-end;
  border: 2px solid;
  background-color: #201005;
}
header .headline{
  margin: 0 150px;
  font-size: 100px;
}
.nav-list {
  text-align: center;
  padding: 10px 30px;
  margin: 0 auto;
  font-size: 30px;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-list-item a:hover{
  background-color: #a5a6b3;
}

/* body */
#app, #app-2, #app-3{
  margin: 15px auto;
  text-align: center;
}

/* footer */
footer {
  width: 100%;
  height: 60px; 
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
  background-color: #201005;
}
.footer-text {
  color: #fff;
}