* {
  margin:0; padding:0;
}

a {	
  text-decoration: none;
  color: #FAFAFA;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url("../figs/splashs/mainSplashImg.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* 背景画像を透過させる */
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}

/* フォントクラス */
.oswald{
  font-family: 'Oswald', sans-serif;
  color: #202020;
}
.notoSans{
  font-family: 'Noto Sans JP', sans-serif;
  color: #202020;
}

/* header */
#header {
  padding: 15px 0;
  margin: -7px auto;
  height: 40px;
  width: 100%;
  min-width: 800px;
  border: solid;
  border-width: 1px 0 1px 0 ;
  border-color: #a5a6b3;
  background-color: #201005;
  z-index: 2;
}
.nav-list {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-list-item a:hover{
  background-color: #a5a6b3;
}

/* body */

/* topSplash */
#topSplash{
  z-index: 1;
  position: relative;
}
#topSplash img{
  width: 100%;
  min-width: 1000px;
}
#topSplash p{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  font-size: 100px;
  -webkit-text-stroke: 1px #D68E10;
}
#content{
  padding-top: 70px;
}

.contents{
  margin: 100px auto;
  margin-top: -70px;
  padding-top: 70px;
}

.subtitle{
  font-size: 70px;
  padding: 0 50px;
  border-bottom:solid;
  border-width:5px;
}

/* about */
#about-text{
  margin: 150px auto;
  min-width: 1000px;
  height: 500px;
  font-size: 35px;
}

/* members */
.feature{
  height: 300px;
  background-color: rgba(15, 15, 15, 0.7);;
  margin: 100px 0 -50px 0;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn { /*animetion-nameで設定した値を書く*/
  0% {
    /* アニメーション開始時 */
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    /* アニメーション終了時 */
    opacity: 1;
    transform: translateY(0);
  }
}
.feature img {
  width: 15%;
  min-width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 0;
  margin: auto;
}
.feature p {
  position: absolute;
  width: 50%;
  min-width: 300px;
  top: 0;
  left: 40%;
  bottom: 0;
  margin-top: 20px;
  text-align: left;
}
.feature #name{
  color: #FAFAFA;
  font-size: 40px;
  font-weight: bold;
}
.feature #memberInfo{
  min-width: 600px;
  color: #FAFAFA;
  margin-top: 50px;
  font-size: 30px;
  white-space: pre-wrap;
  line-height: 1.2em;
}

.members-list, .works-list{
	display: flex;
  flex-wrap: wrap;
  margin: 100px 20%;
  min-width: 900px;
  text-align: center;
  list-style: none; /*黒点を消す*/
}
.members-list li {
	width: calc(100%/4);
	padding: 0 10px;
	box-sizing: border-box;
}
.members-list li img, .works-list li img {
  width: 100%;
  min-width: 200px;
	height: auto; /*画像の縦横比を維持*/
  border:solid 1px #ccc; /*画像を1pxのグレーの枠線で囲む指定の場合 */
  cursor: pointer;
}
.members-list li p{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: -50px;
}

/* work */
.feature #workInfo{
  min-width: 600px;
  color: #FAFAFA;
  margin-top: 50px;
  font-size: 30px;
  white-space: pre-wrap;
  line-height: 1.2em;
}
.works-img{
  height: 300px;
  width: 300px;
  margin: 150px 50px;
  border: 2px solid;
  border-color: #201005;
}

#CodeTyper{
  background-color: #010101;
}

.works-list li {
	width: calc(100%/3);
	padding: 0 10px;
	box-sizing: border-box;
}
.works-list li p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -50px;
}


/* events */
.events-img {
  height: 500px;
  width: 500px;
  margin: 100px 50px;
  border: 2px solid;
  border-color: #201005;
}

/* contact */
#cotact-text {
  margin: 30px;
  font-size: 50px;
}

#cotact-icon {
  margin-right: 10px;
  vertical-align: -10px;
  border-radius: 27px;
  border: solid;
  background-color: black;
}

/* footer */
footer {
  width: 100%;
  height: 30px; 
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
  background-color: #201005;
}
.footer-text {
  color: #FAFAFA;
}