* {
  margin:0; padding:0;
}

a {	
  text-decoration: none;
  color: white;
}

body{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

nav {
  margin: 0 0 0 auto;
}

/* header */
header {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: flex-end;
  position: fixed;
  height: 20%;
  width: 90%;
  border: 2px solid;
  background-color: #201005;
}
header .headline{
  margin: 0 150px;
  font-size: 100px;
}
.nav-list {
  text-align: center;
  padding: 10px 30px;
  margin: 0 auto;
  font-size: 30px;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
.nav-list-item a:hover{
  background-color: #a5a6b3;
}

/* body */
.empty{
  padding-top: 10%;
}

.contents{
  margin: 100px auto;
}

.subtitle{
  font-size: 100px;
  padding: 0 50px;
  border-bottom:solid;
  border-width:5px;
}

/* footer */
footer {
  width: 100%;
  height: 60px; 
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
  background-color: #201005;
}
.footer-text {
  color: #fff;
}